/thinkphp/
/vendor/
/runtime/
/addons/command
/addons/database
/addons/example
/addons/summernote
/addons/wechat
/public/assets/addons/command
/public/assets/addons/database
/public/assets/addons/example
/public/assets/addons/summernote
/public/assets/addons/wechat

/public/uploads/*
/public/template/*
/public/install.php
.user.ini

