<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <input type="text" value="{$row.ID}" class="hidden" id="id">
                <input type="text" value="{$row.step}" class="hidden" id="step">
                <i class="fa fa-envelope" aria-hidden="true"></i> 申请详情
            <small class="pull-right">{$row.now_time}</small>
            </h2>
        </div>
	</div>
	<div class="row">
		<p class="lead">标准信息</p>
        <div class="col-xs-12">
            <table class="table table-bordered" style="text-align: center;">
                <tbody>
                    <tr>
                        <th>标准名称</th>
                        <td>{$row.BZMC}</td>
                        <th>宜定级别</th>
                        <td>{$row.YDJB}</td>
					</tr>
					<tr>
						<th>申请单位</th>
						<td>{$row.groupName}</td>
						<th>制修订年度</th>
						<td>{$row.XDND}</td>
					</tr>
                    <tr>
                        <th >范围和主要技术内容</th>
                        <td colspan="3">{$row.JSNR}</td>
                    </tr>
                    <tr>
                        <th >制修订的目的和意义:</th>
                        <td colspan="3">{$row.XDMD}</td>
                    </tr>
                    <tr>
                        <th >制修订的依据:</th>
                        <td colspan="3">{$row.XDYJ}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
	{empty name="historyHandle"} 
	{else/}
	<div class="row">
		<p class="lead">历史操作</p>

		<div class="col-xs-12 table-responsive">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>用户</th>
					<th>时间</th>
					<th>操作</th>
					<th>阶段</th>
					<th>内容</th>
				</tr>
			</thead>
			<tbody>
				{foreach name="historyHandle" item="vo" key="s"}
				<tr>
					<td>{$vo.handle_name}</td>
					<td>{$vo.handle_time|date="Y-m-d",###}</td>
					<td>{$vo.handle_content}</td>
					<td>{$vo.stepText}</td>
					<td>{$vo.handle_extra}</td>
				</tr>  
				{notempty name="vo.response_name"}
				<tr>
					<td>{$vo.response_name}</td>
					<td>{$vo.response_time|date="Y-m-d", ###}</td>
					{switch name= "$vo.new_step" }
						{case value= "0"}
						<td>修改内容</td>
						{/case}
						{case value"1|2|3|4"}
						<td>上传文件</td>
						{/case}
					{/switch}
					<td>{$vo.stepText}</td>
					<td>
						{switch name= "$vo.new_step" }
						{case value= "1"}
						项目申报书:<a href="{$vo.file.XMSBS}">点击下载</a>
						草案:<a href="{$vo.file.CA}">点击下载</a>
						{/case}
						{case value= "2"}
						征求意见稿:<a href="{$vo.file.ZQYJG}">点击下载</a>
						编制说明:  <a href="{$vo.file.BZSM}">点击下载</a>
						{/case}
						{case value= "3"}
						送审稿:    <a href="{$vo.file.SSG}">点击下载</a>
						编制说明:  <a href="{$vo.file.BZSM}">点击下载</a>
						{/case}
						{case value= "4"}
						报批稿:    <a href="{$vo.file.BPG}">点击下载</a>
						编制说明:  <a href="{$vo.file.BZSM}">点击下载</a>
						{/case}
						{/switch}
					</td>
				</tr>  
				{/notempty}
				{/foreach}
			</tbody>
			</table>
		</div>
	</div>
	{/empty}
	{eq name="row.tagsAdmin" value="true"}
	<form class="form-horizontal">

		<div class="form-group">
			<label class="radio-inline">
				<input type="radio" name="option1" class="option" id="option1" value="0" checked> 通过
			</label>
			<label class="radio-inline">
				<input type="radio" name="option1" class="option" id="option2"  value="1"> 不通过
			</label>
			<label class="radio-inline">
				<input type="radio" name="option1" class="option" id="option3"  value="2"> 按意见修改再提交
			</label>
		</div>
	
		<div class="form-group hidden" id="hiddenReason">
			<label for="refuseReason" class="col-sm-1 control-label">原因</label>

			<div class="col-sm-11">
				<input type="text" class="form-control" id="refuseReason" placeholder="请输入不通过原因">
			</div>
		</div>
		<div class="form-group hidden" id="hiddenAdvice">
			<label for="advise" class="col-sm-1 control-label">意见</label>

			<div class="col-sm-11">
				<input type="text" class="form-control" id="advise" placeholder="请给出修改意见">
			</div>
		</div>
		
		<div class="row no-print">
			<div class="col-xs-12">
				<button type="button" class="btn btn-success btn-admin-submit pull-right"><i class="fa fa-hand-paper-o"></i> 确定
				</button>
			</div>
		</div>
	</form>
	{else/}
		{switch name="row.step"}
		{case value="0"}
		<div class="row no-print">
			<div class="col-xs-12">
				请等待用户修改。
			</div>
		</div>
		{/case}
		{case value="1|2|3"}
		<div class="row no-print">
			<div class="col-xs-12">
				请等待其上传文件。
			</div>
		</div>
		{/case}
		{/switch}
	{/eq}
</section>